<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- twitter feed -->
      <div class="col-md-4 twitter-feed">
        <h4 class="twit-feed__title footer-title">twitter feed</h4>
        <a href="#" class="twit-feed__link">
          <time class="twit-feed__time">23 oct</time>
        </a>
        <p class="twit-feed__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean aug</p>
      </div>
      <!-- /twitter feed -->
      <!-- footer link -->
      <div class="col-md-4 footer-links-wrapper">
        <div class="footer-links-wrapper">
          <!-- sitemap -->
          <div class="sitemap">
            <h4 class="sitemap__title footer-title">sitemap</h4>
            <ul class="sitemap__list">
              <li class="sitemap__item">
                <a href="#" class="sitemap__link">Home</a>
              </li>
              <li class="sitemap__item">
                <a href="#" class="sitemap__link">About</a>
              </li>
              <li class="sitemap__item">
                <a href="#" class="sitemap__link">Services</a>
              </li>
              <li class="sitemap__item">
                <a href="#" class="sitemap__link">Partners</a>
              </li>
              <li class="sitemap__item">
                <a href="#" class="sitemap__link">Support</a>
              </li>
              <li class="sitemap__item">
                <a href="#" class="sitemap__link">Contact</a>
              </li>
            </ul>
          </div>
          <!-- /sitemap -->
          <!-- social -->
          <div class="social">
            <h4 class="social__title footer-title"><nobr>social networks</nobr></h4>
            <ul class="social__list">
              <li class="social__item">
                <a href="#" class="social__link twitter"><span class="hidden">twitter</span></a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link facebook"><span class="hidden">facebook</span></a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link google"><span class="hidden">google</span></a>
              </li>
            </ul>
            <ul class="social__list">
              <li class="social__item">
                <a href="#" class="social__link-small vimeo"><span class="hidden">vimeo</span></a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link-small youtube"><span class="hidden">youtube</span></a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link-small flickr"><span class="hidden">flickr</span></a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link-small instagram"><span class="hidden">instagram</span></a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link-small rss"><span class="hidden">rss</span></a>
              </li>
            </ul>
          </div>
          <!-- /social -->
        </div>
      </div>
      <!-- /footer link -->
      <!-- copyright -->
      <div class=" col-md-4 copyright-wrapper">
        <div class="copyright__logotype-wrapper"><span class="copyright__logotype">whitesquare</span></div>
        <p class="copyright__text">Copyright © 2012 Whitesquare. A <a href="#" class="copyright__text-link">pcklab</a> creation</p>
      </div>
      <!-- /copyright -->
    </div>
  </div>
</footer>

<!-- TEMPLATES -->
<!-- article template -->
<template id="article-template">

  <article class="article">
      <!-- labeled, light, lined, blue -->
      <p class="article__title labeled lined-after fs-medium">article title</p>
      <div class="article__content-wrapper">
        <div class="article__aside">
          <img src="https://via.placeholder.com/180x180.jpg" alt="" class="article__image">
        </div>
        <div class="article__content">
          <figure class="article__image-wrapper">
            <img src="" alt="Article image" class="article__image">
            <figcaption class="article__image-caption">image description</figcaption>
          </figure>

          <div class="article__gallery">
            <figure class="article__image-wrapper">
              <img src="https://via.placeholder.com/180x180.jpg" alt="Article image" class="article__image">
              <figcaption class="article__image-caption">image description</figcaption>
            </figure>
            <figure class="article__image-wrapper">
              <img src="https://via.placeholder.com/180x180.jpg" alt="Article image" class="article__image">
              <figcaption class="article__image-caption">image description</figcaption>
            </figure>
            <figure class="article__image-wrapper">
              <img src="https://via.placeholder.com/360x360.jpg" alt="Article image" class="article__image">
              <figcaption class="article__image-caption">image description</figcaption>
            </figure>
          </div>

          <p class="article__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p>
          <div class="article__related">
            <a href="#" class="article__link">Read more</a>
          </div>
        </div>
      </div>
  </article>
</template>

<script src="js/main.min.js"></script>
