.footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  font-size: .6875rem;

  padding-top: 15px;
}

.footer-title {
  padding-bottom: .5em;

  font-size: 1.27em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  border-bottom: 2px solid $footer-titles-border-color;
}

.twit-feed__link {
  color: $footer-date-color;
  text-decoration: underline;

  &:hover {
    color: $footer-text-color;
  }
}

.footer-links-wrapper {
  display: flex;
  width: 100%;
}

.sitemap {
  width: 50%;
}

.sitemap__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sitemap__item {
  width: 50%;
}

.sitemap__link {
  color: $footer-text-color;

  &:hover {
    color: $footer-text-color;
  }
}

.social {
  margin-left: 15px;
  width: 50%;
}

.social__list {
  margin: 0;
  margin-bottom: .73em;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;
  height: 30px;
  width: 30px;
  background: no-repeat center center;

  &.twitter {
    background-image: url("../img/twitter.png");
  }
  &.facebook {
    background-image: url("../img/facebook.png");
  }
  &.google {
    background-image: url("../img/google+.png");
  }
}

.social__link-small {
  display: block;
  height: 16px;
  width: 16px;
  background: no-repeat center center;

  &.vimeo {
    background-image: url("../img/vimeo.png");
  }
  &.youtube {
    background-image: url("../img/youtube.png");
  }
  &.flickr {
    background-image: url("../img/flickr.png");
  }
  &.instagram {
    background-image: url("../img/instagram.png");
  }
  &.rss {
    background-image: url("../img/rss.png");
  }

}

.copyright-wrapper {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}

.copyright__logotype-wrapper {

}

.copyright__logotype {
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 40px;

  font-size: 1.9em;
  line-height: 1em;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: .6em;
    left: -1.1em;
    width: 1em;
    height: 1em;
    border: 2px solid $footer-text-color;
  }
}

.copyright__text {
  font-size: .9em;
}

.copyright__text-link {
  text-decoration: underline;
  color: $footer-text-color;

  &:hover {
    color: $footer-text-color;
  }
}

@media (max-width: 767.98px) {
  .social__list {
    justify-content: space-around;
  }

  .copyright-wrapper {
    padding-right: 15px;
  }
}
