body {
  font-family: "Tahoma", Arial, sans-serif;
  font-size: .75rem;
  line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.hidden:not(:focus):not(:active),
input[type='checkbox'].hidden,
input[type='radio'].hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
