$brand-text-color: #7e7e7e;

$main-text-color: #8f8f8f;
$main-title-color: #7e7e7e;
$main-blue-color: #29c5e6;
$main-blue-color-hover: #58c3db;

$navbar-background-color: #f3f3f3;
$navbar-link-color: #b2b2b2;
$navbar-border-color: #e7e7e7;

$sub-nav-border-color: #dfdfdf;

$hero-background-color: #f3f3f3;
$hero-border-color: #e7e7e7;
$hero-content-background-color: #e2e2e2;
$hero-title-color: #5a5a5a;

$article-link-color: #525252;
$article-link-color-hover: #000000;
$article-image-border: #cccccc;
$article-image-background-color: #e2e2e2;

$article-small-title-color: #525252;

$inner-article-image-border-color: #c9c9c9;

$footer-background-color: #7e7e7e;
$footer-text-color: #ffffff;
$footer-titles-border-color: #919191;
$footer-date-color: #b4aeae;
