$brand-text-color: #7e7e7e;

$main-text-color: #8f8f8f;
$main-title-color: #7e7e7e;
$main-blue-color: #29c5e6;
$main-blue-color-hover: #29c5e6;

$navbar-background-color: #f3f3f3;
$navbar-link-color: #b2b2b2;
$navbar-border-color: #e7e7e7;

$sub-nav-border-color: #dfdfdf;

$hero-background-color: #f3f3f3;
$hero-border-color: #e7e7e7;
$hero-content-background-color: #e2e2e2;
$hero-title-color: #5a5a5a;

$article-related-color: #525252;
$article-related-color-hover: #000000;
$article-image-border: #cccccc;
$article-image-background-color: #e2e2e2;

$article-title-author-color: #1d8ea6;

$footer-background-color: #7e7e7e;
$footer-text-color: #ffffff;
$footer-titles-border-color: #919191;
$footer-date-color: #b4aeae;

$title-font-size-small: .6875rem;
$title-font-size-medium: .875rem;
$title-font-size-large: 1.875rem;
$title-font-size-xlarge: 2.5rem;
